<!--左侧导航开始-->
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close"><i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span><img alt="image" class="img-circle" src="img/profile_small.jpg" /></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">Best GateWay</strong></span>
                                <span class="text-muted text-xs block" th:text="${username}"><b class="caret"></b></span>
                                </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <!--<li><a class="J_menuItem" href="form_avatar.html">修改头像</a>
                        </li>
                        <li><a class="J_menuItem" href="profile.html">个人资料</a>
                        </li>
                        <li><a class="J_menuItem" href="contacts.html">联系我们</a>
                        </li>
                        <li><a class="J_menuItem" href="mailbox.html">信箱</a>
                        </li>-->
                        <li class="divider"></li>
                        <li><a href="/logout">安全退出</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">OSG</div>
            </li>

            <li th:each="menu : ${menus}">
                <a href="#">
                    <i th:class="${menu.attributes.icon}"></i>
                    <span class="nav-label" th:text="${menu.text}"></span>
                  <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li th:each="cmenu : ${menu.children}">
                        <a class="J_menuItem" th:text="${cmenu.text}" th:href="${cmenu.attributes.url}" th:attr="menu=${cmenu.id}" data-index="0"></a>
                    </li>
                </ul>
            </li>


        </ul>
    </div>
</nav>
<!--左侧导航结束-->